body {
background: -moz-linear-gradient(top, #ffebad 0%, #7b95aa 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #ffebad 0%,#7b95aa 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #ffebad 0%,#7b95aa 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
#header{
	position: absolute;
    display: flex;
    top: 0; left: 0;
    justify-content: flex-start;
    box-shadow: 2px 2px 30px #FFFDF8;
    width : 100%;
	height: 100px;
	text-decoration:none;
	white-space: nowrap;
	background: black; /* Old browsers */
	background: -moz-linear-gradient(left, black 60%, #2b2b2b 98%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left, black 60%,#2b2b2b 98%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right, black 60%,#2b2b2b 98%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
}
li {
	display: inline;
	border-right: 1px, solid, white;
	text-align: center;
	text-decoration:none;
	margin-right:10%;
	text-shadow: 2px 2x 4px #3399FF;
}
ul {
	display: inline;
	justify-content: flex-start;
	border-right: 1px, solid, white;
	margin-right:10%;
	font-size:2em;
	font-weight: bold;
	text-shadow: 0px 0px 7px #3399FF;
   -webkit-transition: color 1s ease-in;
   -moz-transition: color 1s ease-in;
   -o-transition: color 1s ease-in;
   -ms-transition: color 1s ease-in;
   transition: color 1s ease-in;
	text-decoration:none;
}

input {
border : 1px solid blue
}
input:hover {
border : 1.5px solid blue;
}
a {
color : black;
border: 1px, solid, white;
transition-property : color;
transition-duration : 1s;
}

a:hover{
color : white;
transition-property : color;
transition-duration : 1s;
 }


.page_blanche{
margin-top:10%;
background-color: white;
width : 70%;
height : 1754px;
margin-left: auto;
margin-right: auto;
box-shadow: 2px 2px 30px #000000;
}

.logo_python{
background-image : url("logo.png");
width : 10px;
height : 10px;
}
.message{
width : 30%;}

.nom{
width : 30%;
height:100px;
}

.code{background-image:url("code_python_flou.png");
width : 100%;
height : 300px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.code_html

{background-image:url("html.jpeg");
width : 100%;
height : 300px;
filter : blur(2px);
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


.PYTHON{
filter : blur: none;
position : float;
text-align :center ;
margin : auto;
font-size : 3em;
color : white}

input{
box-shadow:2px 2px 2px #3399FF }

.CV{
background-image:url("CV.jpg");
width : 100%;
height: 1754px;
margin : auto;
background-repeat: no-repeat;
}

h1{
	font-size : 3em;
	font-style : italic;
	text-align:center
}

.lienactif{
	color : white;
}

p {
font-family: 'Roboto', sans-serif;
margin : 5%;
}
.trait{width : 100%;
height : 20px;
border-bottom:2px solid black}

.fleche{
width : 30px;
height : 30px;
background-image : url("fleche.svg");
text-align:center;
margin : auto
}
.cmjn{
width : 100%;
height: 400px;
background-image : url("CMJN.svg")
}
